# This is an example configuration file for the Create Billboard Charts
# YouTube Playlists script. Copy this file to settings.cfg and edit it to
# include your Google API info.

[accounts]
# The API Key for your Google API project
# If you don't have a Google API project already, you can create one in
# the Google Developer Console:
# https://console.developers.google.com/
# The default key is not valid, but looks similar to a valid key
api_key = BOzaTrDFLxICpI9ReyXiK3cVy9X2NYhcLz3gqTn


